@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

//Fonts
$mainFont: "Space Mono", monospace;

//Colors
$white: #fff;
$lightGrayishCyan: #c5e4e7;
$darkGrayishCyan: #5e7a7d;
$darkCyan: #00474b;
$cyan: #26c2ae;
$softCyan: #9fe8df;
$softRed: #e17457;
